@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-100;
}

h4 {
  @apply text-xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

button {
  @apply bg-slate-700 px-3 py-2;
}

.aspect-w-4 {
  --tw-aspect-ratio: 4;
}
.aspect-h-3 {
  --tw-aspect-ratio-h: 3;
}
.aspect-w-4.aspect-h-3::before {
  content: "";
  display: block;
  padding-bottom: calc(3 / 4 * 100%);
}
