@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-100;
}

p {
  @apply text-lg leading-relaxed mb-3 tracking-tight;
}

a {
  @apply font-bold text-slate-300;
}

h6 {
  @apply font-bold text-lg mb-1 leading-tight;
}

h5 {
  @apply text-xl leading-tight font-semibold;
}

h4 {
  @apply text-xl font-bold mb-2;
}

h3 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h1 {
  @apply text-5xl tracking-tight;
}

.aspect-w-4 {
  --tw-aspect-ratio: 4;
}
.aspect-h-3 {
  --tw-aspect-ratio-h: 3;
}
.aspect-w-4.aspect-h-3::before {
  content: "";
  display: block;
  padding-bottom: calc(3 / 4 * 100%);
}
