:root {
    --color-theme: #00594c;
}

p {
    font-size: 12px;
}

p a {
    text-decoration: none;
    color: var(--color-theme);
    font-weight: bold;
}

main div{
    width: 60%;
    margin: 0 auto;
}

main {
    margin-bottom: 40px;
}

input {
    width: 100%;
}

form {
    margin-top: 10px;
}

form div {
    display: flex;
    justify-content: center;
}

.mensaje p {
    font-size: 11px;
}