.card {
    text-align: center;
    margin-top: 25px;
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.4);
    padding: 10px 20px 0;
    border-radius: 25px;
    display: none;
}

.card p {
    font-size: 12px;
    font-weight: bolder;
    margin-bottom: 12px;
}

#presentacion {
    margin: 40px 0;
    color: #00594c;
}